Authlib==1.0.1
Cython==0.29.30
Django==4.0.4
djangorestframework==3.13.1
geoip2==2.9.0
geojson==2.5.0
jsonpointer==2.2
jsonschema==4.6.0
Pillow==9.2.0
pipenv==2022.4.21
py-ubjson==0.16.1
PyInstaller==3.5+498e6ee058
PyJWT==2.4.0
requests==2.27.1
requests-file==1.5.1
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
responses==0.18.0
ujson==5.4.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
gunicorn==20.1.0
